<h1>Movie List</h1>
<br/>

<table class="table table-striped table-hover table-bordered border-secondary">
    <thead class="table-dark">
        <tr>
            <th><h2>Title</h2></th>
            <th><h2>Impression</h2></th>
            <th><h2>User Id</h2></th>
        </tr>
    </thead>
    <tbody>
        <% @movies.each do |movie| %>
        <tr>
            <td>
                <%= link_to movie.title, master_show_path(movie.id) %>
            </td>
            <td>
                <%= movie.impression %>
            </td>
            <td>
                <%= movie.user_id %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if user_signed_in? %>
    <br/>
    <%= link_to 'Write a Review', master_new_path, class:"btn btn-secondary" %>
<% end %>